<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <title> Hashimia International Academy</title>
              <link rel="icon" href="logo.jpeg" type="image/gif" sizes="16x16">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="./public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="./public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="./public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="./public/css/app.css"
              rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
  </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">

                    <!-- Navbar -->

                    <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
                         id="default-navbar"
                         data-primary>

                        <!-- Navbar Toggler -->

                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                                type="button"
                                data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <!-- // END Navbar Toggler -->

                        <!-- Navbar Brand -->

                        <a href="/home"
                           class="navbar-brand mr-16pt">

                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                                <span class="avatar-title rounded"><img src="logo.jpeg"
                                         alt="logo"
                                         class="img-fluid" /></span>

                            </span>

                            <span class="d-none d-lg-block">Welcome Admin</span>
                        </a>

                        <!-- // END Navbar Brand -->

                        
                        

                        <!-- Navbar Search -->

                        

                        <!-- // END Navbar Search -->

                        <div class="flex"></div>

                        <!-- Navbar Menu -->

                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                            <!-- Notifications dropdown -->
                            
                            <!-- // END Notifications dropdown -->

                            <!-- Notifications dropdown -->
                            
                            <!-- // END Notifications dropdown -->

                            <div class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link d-flex align-items-center dropdown-toggle"
                                   data-toggle="dropdown"
                                   data-caret="false">

                                    <span class="avatar avatar-sm mr-8pt2">

                                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                    </span>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header"><strong>Account</strong></div>
                                    <a class="dropdown-item"
                                       href="/edit-account">Edit Account</a>
                                    <a class="dropdown-item"
                                       href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- // END Navbar Menu -->

                    </div>

                    <!-- // END Navbar -->

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">
                <div class="clearfix"></div>
            <div class="content-wrapper">
                <div class="container-fluid softnic-container-fluid">
                    <!-- Breadcrumb-->
                    <div class="row pt-2 pb-2">
                        <div class="col-sm-9">
                            <h4 class="page-title">Add Students</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="javaScript:void();">Add Student</a></li>
                            </ol>
                        </div>
                        
                    </div>
                    <!-- End Breadcrumb-->
                    <div class="row">
                        <div class="col-lg-12">
                        	
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title text-dark">Student Information <font style="color: red;">(<b>*</b> You need to fill up all the field)</font></div>
                                    <hr>
                                    <form id="/studentRegistration" action="/studentRegistration" method="post"  autocomplete="off">
                                        
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Student ID <b style="color: red;">*</b></label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    </div>
                                                    <input type="text" name="student_ID" class="form-control" placeholder="Student_ID" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">First Name <b style="color: red;">*</b></label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    </div>
                                                    <input type="text" name="firstname" class="form-control" placeholder="First Name" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Last Name <b style="color: red;">*</b></label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    </div>
                                                    <input type="text" name="lastname" class="form-control" placeholder="Last Name" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Father Name</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-male"></i></span>
                                                    </div>
                                                    <input type="text" name="fatherName" class="form-control" placeholder="Father Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Mother Name</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-female"></i></span>
                                                    </div>
                                                    <input type="text" name="motherName" class="form-control" placeholder="Mother Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Guardian Name <b style="color: red;">*</b></label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    </div>
                                                    <input type="text" name="guardianName" class="form-control" placeholder="Guardian Name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Relation</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                                    </div>
                                                    <input type="text" name="relation" class="form-control" placeholder="Relation with Guardian">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Guardian Phone <b style="color: red;">*</b></label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                    </div>
                                                    <input type="text" name="guardianPhone" class="form-control" placeholder="Guardian Phone" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Student Phone</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                    </div>
                                                    <input type="text" name="studentPhone" class="form-control" placeholder="Student Phone" maxlength="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">E-mail</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                                    </div>
                                                    <input type="email" name="email" class="form-control" placeholder="E-mail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Roll No</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <input type="text" name="rollNo" class="form-control" placeholder="Roll Number" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Aadhaar No </label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <input type="text" name="aadhaar" class="form-control" placeholder="Aadhaar Number" maxlength="12">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Class</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <select name="student_class" class="form-control single-select" id="classes" required>
                                                        <option value="">Select</option>
                                                                                                            
                                                    </select>
                                                </div>
                                            </div>
                                            <label for="input-21" class="col-sm-2 col-form-label">Semester</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <select name="semester" class="form-control single-select" id="sem" disabled>
                                                        <option value="">Select</option>
                                                        </select>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Department</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <select name="department" class="form-control single-select" id="dept">
                                                        <option value="">Select</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <label for="input-21" class="col-sm-2 col-form-label">Session <b style="color: red;">*</b></label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                                                    </div>
                                                    <select id="sessions" name="session" class="form-control single-select" required>
                                                        <option value="">Select</option>
                                                    </select>
                                                        
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Address <b style="color: red;">*</b></label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <textarea rows="6" name="address" class="form-control" placeholder="Address" required></textarea>
                                                </div>
                                            </div>
                                        </div>

                                       
                                        
                                        <br><br>
                                        <h4 class="form-header">
                                            Fees Information
                                        </h4>

                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Total Fees</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-money"></i></span>
                                                    </div>
                                                    <input type="text" name="totalFees" id="firstNumber" class="form-control" placeholder="Total Fees" required>
                                                </div>
                                            </div>
                                            <label for="input-21" class="col-sm-2 col-form-label">Semesters</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-list"></i></span>
                                                    </div>
                                                    <select disabled name="semesterCount" id="semesterCount" class="form-control single-select">
                                                        <option value="">Select</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>

                                        <div id="semFeesHtmlHolder">
                                            
                                        </div>

                                        

                                        <br>
                                        <div class="form-group row">
                                            
                                            <label for="input-21" class="col-sm-2 col-form-label">Monthly <b style="color: red;">*</b></label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-list"></i></span>
                                                    </div>
                                                    <select name="monthCount" id="monthCount" class="form-control single-select" required>
                                                        <option value="">Select</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <label for="input-21" class="col-sm-2 col-form-label">Admission Fees <b style="color: red;">*</b></label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-money"></i></span>
                                                    </div>
                                                    <input type="text" name="admissionFees" class="form-control" placeholder="Admission Fees" required>
                                                </div>
                                            </div>
                                        </div>

                                        <br><br>

                                        <div id="monFeesHtmlHolder">
                                            
                                        </div>

                                        

                                        


                                        <!-- <h4 class="form-header">
                                            Documents
                                        </h4>
                                        <div class="form-group row">
                                            <label for="input-21" class="col-sm-2 col-form-label">Documents</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input type="file" name="doc[]" multiple="" placeholder="some text">
                                                </div>
                                            </div>
                                        </div>
                                        <br><br> -->

                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" name="addStudent" class="btn btn-dark shadow-dark px-5"><i class="fa fa-plus"></i> &nbsp;&nbsp; Add Student</button>
                                            </div>
                                        </div>
                                    </form>
                                    <script>
                                        const url = "/studentClass/getdata";
            
                                        fetch(url)
                                            .then(function (response) {
                                                return response.json();
                                            })
                                            .then(function (data) {
                                            
                                                appendData(data);
                                            })
                                            .catch(function (err) {
                                                console.log('error: ' + err);
                                            });
                                        
                                            function appendData(data) {
                                                        //var mainContainer = document.getElementById("doctor_id");
                                            
                                                        for (var i = 0; i < data.length; i++) {
                                                        
                                                        
                                                        
                                                            var id = data[i].id;
                                                        
                                                            var daySelect = document.getElementById("classes");
                                                            var myOption = document.createElement("option");
                                                            myOption.text = data[i].class_name;
                                                            myOption.value = data[i].class_name;
                                                            daySelect.add(myOption);
                                                                                
                                                        }
                                            }
            
                                    </script>
                                    <script>
                                        const url1 = "/studentSemester/getdata";
                                    
                                        fetch(url1)
                                            .then(function (response) {
                                                return response.json();
                                            })
                                            .then(function (data) {
                                            
                                                appendData1(data);
                                            })
                                            .catch(function (err) {
                                                console.log('error: ' + err);
                                            });
                                        
                                            function appendData1(data) {
                                                        //var mainContainer = document.getElementById("doctor_id");
                                            
                                                        for (var i = 0; i < data.length; i++) {
                                                        
                                                        
                                                        
                                                            var id = data[i].id;
                                                        
                                                            var daySelect = document.getElementById("sem");
                                                            var myOption = document.createElement("option");
                                                            myOption.text = data[i].semester_name;
                                                            myOption.value = data[i].semester_name;
                                                            daySelect.add(myOption);
                                                        
                                                        }
                                            }
                                        
                                    </script>
                                    <script>
                                        const url2 = "/studentDepartment/getdata";
                
                                        fetch(url2)
                                            .then(function (response) {
                                                return response.json();
                                            })
                                            .then(function (data) {
                                            
                                                appendData2(data);
                                            })
                                            .catch(function (err) {
                                                console.log('error: ' + err);
                                            });
                                        
                                            function appendData2(data) {
                                                        //var mainContainer = document.getElementById("doctor_id");
                                            
                                                        for (var i = 0; i < data.length; i++) {
                                                        
                                                        
                                                        
                                                            var id = data[i].id;
                                                        
                                                            var daySelect = document.getElementById("dept");
                                                            var myOption = document.createElement("option");
                                                            myOption.text = data[i].department_name;
                                                            myOption.value = data[i].department_name;
                                                            daySelect.add(myOption);
                                                                                
                                                        }
                                            }
                
                                    </script>
                                    <script>
                                        const url3 = "/studentSession/getdata";
                                    
                                        fetch(url3)
                                            .then(function (response) {
                                                return response.json();
                                            })
                                            .then(function (data) {
                                            
                                                appendData3(data);
                                            })
                                            .catch(function (err) {
                                                console.log('error: ' + err);
                                            });
                                        
                                            function appendData3(data) {
                                                        //var mainContainer = document.getElementById("doctor_id");
                                            
                                                        for (var i = 0; i < data.length; i++) {
                                                        
                                                        
                                                        
                                                            var id = data[i].id;
                                                        
                                                            var daySelect = document.getElementById("sessions");
                                                            var myOption = document.createElement("option");
                                                            myOption.text = data[i].session_name;
                                                            myOption.value = data[i].session_name;
                                                            daySelect.add(myOption);
                
                                                        }
                                            }
                                        
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End container-fluid-->
                <div class="overlay"></div>
            </div>
        <!--End content-wrapper-->
                
    


    <!--End Back To Top Button-->
            <!-- // END Header Layout Content -->

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="maze.jpeg"
                             width="150"
                             alt="mazesoftsolution">
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">We have reached an age where the entire world is reduced to a global village. In this realm of connected living and sharing, we envision a future that will redefine the very purpose of our existence. Today, the solutions are more refined than the demand itself. What we get is better than what we asked for. Businesses, big or small, look for companies that will refine their business needs, more than offering a ready solution. They look for companies that offer competitive web and mobile apps development, e-commerce, and Open-source CMS development to propel their business expansion.</p>
                    <p class="text-50 small mt-n1 mb-0">Developed by <a href="http://www.mazesoftsolutions.com/">Maze Soft Solution</a></p>
                </div>
            </div>

            <!-- // END Footer -->

        </div>
        <!-- // END Header Layout -->

        

        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
             id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left"
                     data-perfect-scrollbar>

                    <!-- Sidebar Content -->

                    <a href="/home"
                       class="sidebar-brand ">
                        <!-- <img class="sidebar-brand-icon" src="/public/images/illustration/student/128/white.svg" alt="Luma"> -->

                        <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                            <span class="avatar-title rounded"><img src="logo.jpeg"
                                class="img-fluid"
                                alt="logo" /></span>

                        </span>

                        <span>Welcome Admin</span>
                    </a>

                    
                        
                    <ul class="sidebar-menu">

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/home">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                                <span class="sidebar-menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/cashbook">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                                <span class="sidebar-menu-text">Cashbook</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/fees_payment">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">shopping_cart</span>
                                <span class="sidebar-menu-text">Fees Payments</span>
                            </a>
                        </li>
                        <ul class="sidebar-menu">

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#enterprise_menu">
                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">donut_large</span>
                                    Applications
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent"
                                    id="enterprise_menu">
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/contact">
                                            <span class="sidebar-menu-text">Contact</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/add_contact">
                                            <span class="sidebar-menu-text">Add Contact</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button disabled"
                                           href="/hr-dashboard">
                                            <span class="sidebar-menu-text">Applications</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button disabled"
                                           href="/employees">
                                            <span class="sidebar-menu-text">Add Applications</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#productivity_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                                Students
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="productivity_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/student">
                                        <span class="sidebar-menu-text">Students</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_student">
                                        <span class="sidebar-menu-text">Add Students</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/room">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">room</span>
                                <span class="sidebar-menu-text">Create Room</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#ecommerce_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                                Staffs
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="ecommerce_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/staff">
                                        <span class="sidebar-menu-text">Staffs</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_staff">
                                        <span class="sidebar-menu-text">Add Staffs</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#messaging_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                                Classes
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="messaging_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/class">
                                        <span class="sidebar-menu-text">Classes</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_class">
                                        <span class="sidebar-menu-text">Add Classes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#account_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                                Departments
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="account_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/department">
                                        <span class="sidebar-menu-text">Departments</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_department">
                                        <span class="sidebar-menu-text">Add Departments</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#community_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                                Sessions
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="community_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/session">

                                        <span class="sidebar-menu-text">Sessions</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_session">

                                        <span class="sidebar-menu-text">Add Sessions</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#components_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                                Users
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="components_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/user">
                                        <span class="sidebar-menu-text">Users</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_user">
                                        <span class="sidebar-menu-text">Add Users</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/invoice">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                                <span class="sidebar-menu-text">Invoices</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/finance">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">trending_up</span>
                                <span class="sidebar-menu-text">Finance</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/system_history">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">access_time</span>
                                <span class="sidebar-menu-text">System History</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/bin">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                                <span class="sidebar-menu-text">Recyle Bin</span>
                            </a>
                        </li>
                    </ul>
                    

                    <!-- // END Sidebar Content -->

                </div>
            </div>
        </div>

        <!-- // END Drawer -->

        <!-- jQuery -->
        <script src="./public/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="./public/vendor/popper.min.js"></script>
        <script src="./public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="./public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="./public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="./public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="./public/js/app.js"></script>

        <!-- Preloader -->
        <script src="./public/js/preloader.js"></script>


        <script>

            $(document).ready(function() {

                $('.softnic-profile-edit-btn').on('click', function(){
                    $('.softnic-profile-edu-table').find('tbody').append('<tr><td><input class="form-control" type="text" name="exam[]" placeholder="Exam Nmae"></td><td><input class="form-control" type="text" name="board[]" placeholder="Board"></td><td><textarea rows="1" class="form-control" name="subjects[]" placeholder="Subjects"></textarea></td><td><input class="form-control" type="text" name="totalMarks[]" placeholder="Total Marks"></td><td><input class="form-control" type="text" name="obtained[]" placeholder="Obtained"></td><td><input class="form-control" type="text" name="percentage[]" placeholder="Percentage (%)"></td><td><input class="form-control" type="text" name="year[]" placeholder="Year"></td></tr>');
                });

                $('#semesterCount').on('change', function(){
                    var count = $(this).val();
                    var thtml = '';
                    for (i=1; i <= count; i++) {
                        thtml += '<div class="form-group row"><label for="input-21" class="col-sm-2 col-form-label">Semester '+i+'</label><div class="col-sm-4"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money"></i></span></div><input type="text" name="semFees[]" class="form-control" placeholder="Semester '+i+'"></div></div></div>';
                    }
                    $('#semFeesHtmlHolder').html(thtml);

                });

                $('#monthCount').on('change', function(){
                    num1 = document.getElementById("firstNumber").value;
                    num2 = document.getElementById("monthCount").value;
                    //document.getElementById("result").innerHTML = num1 / num2;
                     var fees = num1/num2;
                    

                    var month = ["","January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    var count = $(this).val();
                    var thtml = '';
                    for (i=1; i <= count; i++) {
                        thtml += '<div class="form-group row"><label for="input-21" class="col-sm-2 col-form-label">'+month[i]+'</label><div class="col-sm-4"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money"></i></span></div><input type="text" name="'+month[i]+'"  value="'+ fees +'" class="form-control" id></div></div></div>';
                        
                    }
                    $('#monFeesHtmlHolder').html(thtml);

                });

				$("#studentPhotoId").change(function(){
				    if (this.files && this.files[0]) {
				        var reader = new FileReader();

				        reader.onload = function (e) {
				            $('.add-student-profile-image').attr('src', e.target.result);
				        }

				        reader.readAsDataURL(this.files[0]);
					}
				});
            
            });
            
        </script>

    </body>
</html>