<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <title> Hashimia International Academy</title>
              <link rel="icon" href="logo.jpeg" type="image/gif" sizes="16x16">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="/public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="/public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="/public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="/public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="/public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="/public/css/app.css"
              rel="stylesheet">

    </head>

    <body style="background-image: url(background.jpg); background-repeat: no-repeat; background-size: cover;height: 100%;">
        

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
                <div class="sk-bounce-dot"></div>
                <div class="sk-bounce-dot"></div>
            </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
        </div>

        

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">

                <div class="pt-32pt pt-sm-64pt pb-32pt">
                    <div class="container page__container">
                        <span class="d-none d-lg-block" style="font-size: 40px; text-align: center; text-shadow:  0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
                               color: white; font-weight: bolder;">WELCOME <br>TO<br> LMS PORTAL OF MAZESOFT SOLUTION</span>
                        <form action="/login" method="POST"
                              class="col-md-5 p-0 mx-auto">
                              <br>
                              <br>
                              <br>
                              <br>
                              
                              
                            <div class="form-group">
                                <input id="username" name="username" autofocus
                                       type="text"
                                       class="form-control"
                                       placeholder="Your User Name..." style="box-shadow: 2px 2px 4px #000000;">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password"
                                       class="form-control"
                                       placeholder="Your password..." style="box-shadow: 2px 2px 4px #000000;">
                                <!--<p class="text-right"><a href="reset-password.html"
                                       class="small">Forgot your password?</a></p>-->
                            </div>
                              <br>
                              <br>
                            <div class="text-center">
                                <button class="btn btn-primary" style="width: 100%;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <a href="https://www.mazesoftsolutions.com/"style="position: absolute; left: 0px; bottom: 0px;"><p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="mazee.png"
                             width="150"
                             alt="mazesoftsolution">
                    </p></a>
                    <!--<a href="https://hashimiainternationalacademy.com/contact.php" style="position: absolute; right: 0px; bottom: 0px;"><p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="logo.png"
                             width="60"
                             height="60"
                             alt="hashimiainternationalacademy">
                    </p></a>-->
            </div>

            </div>
            <!-- // END Header Layout Content -->
            
        </div>
        <!-- // END Header Layout -->

        </body>

        <!-- jQuery -->
        <script src="/public/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/public/vendor/popper.min.js"></script>
        <script src="/public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="/public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="/public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="/public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="/public/js/app.js"></script>

        <!-- Preloader -->
        <script src="/public/js/preloader.js"></script>
</html>
